body{
  margin: 0px;
}

::-webkit-scrollbar {
  display: none;
}

.sections {
  margin: 0;
  background-color: white;
  padding-left: 4rem;
  padding-right: 4rem;
}

.headings{
  padding-top: 10rem;
  margin-bottom: 2.2rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 3.5rem;
}

.head {
  top: 0;
  left: 0;
  position: sticky;
}

.main {
  background-color:#151419;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #151419;
  opacity: 0.8;
}

.navbar-icons {
  margin-top: 0.625rem;
  margin-bottom: 0.31rem;
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}

.navline {
  margin: 0px;
  color: white;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#menu-items {
  display: none;
}

#menu-icon {
  cursor: pointer;
}

#menu-icon2 {
  display: none;
  cursor: pointer;
}

.menu-item {
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0px;
  margin-left: 3.75rem;
  margin-top: 1.5rem;
}

.top {
  background-image: url('homepage.png');
  background-position-y: 72%;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 45rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.top::before {
  position: absolute;
  right: 0%;
  background: #1B1AFE;
  opacity: 0.8;
  height: 100%;
  width: 45%;
  content: "";
}

.thead {
  position: absolute;
  right: 7%;
  top: 13%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.top-heading {
  color: white;
  margin-bottom: 0rem;
  margin-top: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 4.5rem;
}

.tech-img {
  width: 25rem;
  position: absolute;
  right: 9.5%;
  bottom: 24%
}

.rec-reg {
  background-color: black;
  position: absolute;
  right: 16%;
  margin-top: 29.5rem;
  background-color: black;
  padding: 1.1rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: white;
  border-color: white;
  border-style: solid;
  border-width: 0.05rem;
  cursor: pointer;
}

.rec-reg::before {
  content: attr(data-hover);
}

.rec-text {
  margin-top: 0;
  margin-bottom: 0;
}

.event-heading {
  color: #1B1AFE;
}

.schedule-tables{
  display: flex;
  flex-direction: column;
}

.table {
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.schedule-header {
  display: flex;
  justify-content: space-between;
  background: #1B1AFE;
  box-shadow: 0px 4px 10px #74756F;
  width: 100%;
  height: fit-content;
  padding: 1.25rem 1.875rem 1.25rem 1.875rem;
  margin-bottom: 2.2rem;
}

#day2 {
  margin-top: 2.2rem;
}

.table-heading{
  margin: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 2.1rem;
  color: white;
}

#table-heading2{
  color: black;
}

.table-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}

.sub-table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#table1 {
  margin-right: 12rem;
}

.table-subheading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 2.2rem;
}

.table-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.table-col1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
}

.table-col2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  color: #74756F;
}

.sponsor-rows{
  display: flex;
  flex-direction: column
}

.srow {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  background-color: #1B1AFE;
  overflow-x: auto;
  overflow-y: hidden;
}

.sponsor-image {
  margin-right: 1.2rem;
  height: 13rem;
}

.event-header{
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
  background-color: #1B1AFE;
  box-shadow: 0px 4px 10px #74756F;
  display: flex;
  flex-direction: row;
  margin-bottom: 3.75rem;
}

.header-content {
  margin-right: 1.25rem;
  margin-left: 1rem;
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  color: black;
  padding: 1.125rem 0.125rem 1.125rem 0.125rem;
  margin-bottom: 0px;
}

.header-content:hover {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  color: black;
}

.event-category {
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

#all-event-heading {
  color: white;
}

#all-events-content {
  display: flex;
  flex-direction: row;
}

#thacks-content {
  display: none;
}

#rec-content {
  display: none;
}

.event-images {
  width: 30%;
  margin-right: 3.125rem;
}

.sub-headings {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #151419;
  margin-bottom: 15px;
}

.first-word {
  color: #1b1afe;
}

#lower-headers {
  color: white;
}

.footer-upper {
  position: relative;
  background: #151419;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 100px;
  margin-bottom: 0px;
  border-bottom: white;
}

.footer-lower{
  position: absolute;
  width: 100%;
  background: #151419;
  color: #ffffff;
}

.footer-heading {
  color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
}

.footer-subheading {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #74756f;
}

.footer-image{
  height: 100px;
  width: auto;
}
